@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/*
  font
  font-family: 'Inter', sans-serif;
  font-family: 'Lexend Deca', sans-serif; 

  color
  (main background): hsl(233, 47%, 7%)
  (card background): hsl(244, 38%, 16%)
  (accent): hsl(277, 64%, 61%)

  (main heading, stats): hsl(0, 0%, 100%)
  (main paragraph): hsla(0, 0%, 100%, 0.75)
  (stat headings): hsla(0, 0%, 100%, 0.6)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
}

body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(233, 47%, 7%);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 2rem;
  flex-wrap: wrap-reverse;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1.5em;
  background-color: hsl(244, 38%, 16%);
  border-radius: 0 0 7px 7px;
  max-height: 540px;
  height: 540px; 
  min-width: 327px;
  width: 327px;
}

.text {
  padding: 35px 25px 30px 25px;
  max-height: 540px;
}

.card-title {
  font-size: 1.7em;
  margin-bottom: 18px;
}

.card-title > span {
  color: hsl(277, 64%, 61%);
}

.card-desc {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.938rem;
  font-family: 'Lexend Deca', sans-serif;
  margin-bottom: 25px;
  line-height: 1.7;
}

.stats-heading {
  margin: 20px;
}

.stats-heading > span{
  display: block;
  color: hsla(0, 0%, 100%, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  padding: 10px;
  text-transform: uppercase;
}

.stats-heading > span:last-child {
  padding-bottom: 10px;
}

.overlay {
  position: relative;
  height: 240px;
  min-width: 327px;
  border-radius: 7px 7px 0 0;
  background-color: hsl(277, 64%, 61%);
}

.img {
  position: relative;
  height: 240px;
  min-width: 327px;
  background-image: url(images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  border-radius: 7px 7px 0 0 ;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

@media screen and (min-width: 1140px) {
  .card {
    max-width: 570px;
    max-height: 446px;
    height: 436px;
    width: 570px;
    margin: 0;
    border-radius: 7px 0 0 7px;
  }
  .text {
    padding-top: 60px;
    padding-left: 70px;
  }

  .card-title {
    font-size: 2.438em;
    text-align: left;
    margin: 0 0 27px;
    width: 91%;
  }
  
  .card-desc {
    text-align: left;
    margin: 0 0 70px;
    width: 80%;
  }

  .text {
    max-height: 446px;
  }

  .overlay {
    height: 436px;
    width: 540px;
    border-radius: 0 7px 7px 0;
  }

  .img {
    height: 446px;
    width: 540px;
    border-radius: 0 7px 7px 0;
  }

  .card-stats {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    row-gap: 20px;
    text-align: left;
  }

  .stats-heading {
    margin: 0;
  }

  .stats-heading > span {
    padding: 10px 0 0 0;
  }

  section {
    height: 100vh;
    margin: 0;
  }
}

@media (min-width: 766px) and (max-width: 1139px) {
  .card {
    height: 236px;
    width: 370px;
    margin: 0;
    border-radius: 7px 0 0 7px;
  }

  .text {
    padding-top: 30px;
    padding-left: 35px;
  }

  .card-title {
    font-size: 1.2em;
    text-align: left;
    margin: 0 0 27px;
    width: 90%;
  }
  
  .card-desc {
    font-size: 0.7rem;
    text-align: left;
    margin: 0 0 25px;
    width: 80%;
  }

  .text {
    max-height: 236px;
  }

  .overlay {
    height: 236px;
    width: 340px;
    border-radius: 0 7px 7px 0;
  }

  .img {
    height: 236px;
    width: 340px;
    border-radius: 0 7px 7px 0;
  }

  .card-stats {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    row-gap: 20px;
    text-align: left;
  }

  .stats-heading {
    font-size: 0.9em;
    margin: 0;
  }
  
  .stats-heading > span {
    font-size: 0.6em;
    padding: 5px 0 0 0;
  }

  section {
    height: 100vh;
    margin: 0;
  }
}